.header{
    background-color:#4ea0ff;
    height: 150px;
    background-image: url(img/pattern.png);
    background-size: contain;
}


    
.logoheader{
    width: 200px;
    transform: translate(0px, 90px)
}


h1{
    font-size: 60px;
}


.sottotitolo{

    color: gray;
    font-size: 20px;
}


#testoarticolo{

    font-size: 20px;
}


table{
     
    text-align: center;
}

.primarigatabella{
    background-color: #20a9e5;
}


th{
    color: antiquewhite;

}

td{

    text-align: left;
}

.rigacolorata{

    background-color:  #b1e5f2;
}